---
---

@import "{{ site.theme }}";

#header nav {
  display: flex;
  background: none;
  justify-content: stretch;

  li {
    &.fork {
      flex-grow: 1;
    }

    a {
      display: list-item;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
