---
---

@import "{{ site.theme }}";

#header nav {
  display: flex;
  background: none;
  justify-content: stretch;
  gap: 20px;

  li {
    &.fork {
      flex-grow: 1;
    }

    a {
      display: list-item;
    }
  }
}
